<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.mydistributedparkingos">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/home_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.administrator.myparkingos.LoginActivity"
            android:theme="@style/login_dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.example.administrator.myparkingos.ui.FormServerSetActivity"/>

        <activity android:name="com.example.administrator.myparkingos.ui.loginHintProcess.ParkingDownCardActvity"/>
        <activity android:name="com.example.administrator.myparkingos.ui.onlineMonitorPage.ParkingMonitoringActivity"/>
        <activity android:name="com.example.administrator.myparkingos.ui.onlineMonitorPage.ParkingPlateNoInputActivity">

        </activity>

        <activity android:name="com.example.administrator.myparkingos.ui.onlineMonitorPage.ParkingInNOPlateNoActivity">

        </activity>
        <activity android:name="com.example.administrator.myparkingos.ui.onlineMonitorPage.ParkingPlateRegisterActivity">

        </activity>

        <activity android:name="com.example.administrator.myparkingos.ui.onlineMonitorPage.ParkingTempCPHActivity">

        </activity>
    </application>

</manifest>