<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="UI.Properties.Settings.DistributedParkConnectionString" connectionString="Data Source=192.168.2.158;Initial Catalog=DistributedPark;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <add name="DistributedParkEntities" connectionString="metadata=res://*/PrintReport.Model1.csdl|res://*/PrintReport.Model1.ssdl|res://*/PrintReport.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.158;initial catalog=DistributedPark;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>